html, body {
	margin: 0;
	padding: 0;
}
h1, h2, h3, p, form {
	margin: 0;
	padding: 0;
}

body {
	background-color: #FFFFFF;
	text-align: center;
	margin: 0;
	padding: 20px 0px;
}

#canvas {
	margin: auto 0;
}

img.preloader {
	display: none;
}

#menu a {
	display: block;
	width: 10em;
	line-height: 1.5;
	text-decoration: none;
	background-color: #333;
	color: #FFF;
	margin: 10px auto;
}

.document {
	background-color: #333;
	color: #FFF;
	padding: 10px;
	font-size: 90%;
	display: none;
}

.document h1 {
	font-size: 120%;
	margin: 0 0 0 10px;
	padding: 0;
}
.document h2 {
	font-size: 100%;
	margin: 0 0 0 10px;
	padding: 0;
}
.document .section {
	background-color: #222222;
	margin: 10px 0;
	padding: 10px;
}

#howto table {
	margin: 10px auto;
}
#howto table th {
	text-align: right;
	padding-right: 10px;
}
#howto table td {
	text-align: left;
}

#howto ul {
	list-style-type: none;
	text-align: left;
	line-height: 1.5;
}
#howto ul img {
	vertical-align: middle;
	width: 20px;
	height: 20px;
}
#howto ul li {
	margin-bottom: 10px;
}

#howto h3 {
	font-size: 90%;
	margin: 10px auto 5px;
}
#howto h3 strong {
	color: #FFFF00;
}

#howto .example {
	margin: 5px auto;
}


#gameover {
	display: none;
	position: absolute;
	left: 50%;
	top: 450px;
	width: 400px;
	height: 200px;
	margin-left: -200px;
	margin-top: -100px;
	background-color: #333;
	color: #FFF;
	text-align: center;
	border: 5px solid #000;
}
#gameover h1 {
	font-size: 100%;
	margin: 10px;
}
#gameover p {
	font-size: 90%;
}

#gameover #scores {
	padding: 10px 100px 10px 0px;
	text-align: right;
	background-color: #222222;
	margin: 10px 0px;
}
#gameover #scores input {
	display: inline;
	background: transparent;
	color: #FFF;
	border: none;
	font-size: 14px;
	font-weight: bold;
	font-family: Arial;
	width: 100px;
}

#gameover label {
	font-size: 160%;
	font-weight: bold;
}
#gameover #nickname {
	font-size: 160%;
	margin: 0 5px;
	width: 160px;
	border: 2px solid #222222;
}
#gameover #submit {
	font-size: 150%;
	background-color: #222222;
	color: #FFF;
	border: none;
}


#ranking table {
	width: 100%;
}
#ranking table th {
	text-align: right;
	border-bottom: 2px solid #333;
	padding-bottom: 5px;
}
#ranking table td {
	text-align: right;
	padding-top: 5px;
	font-size: 200%;
}
#ranking table td.posted {
	font-size: 100%;
}




