
section {
	width: 560px;
}

#title div[data-role="content"] {
	text-align: center;
}

#game {
	width: 100%;
	height: 100%;
}
#game div[data-role="content"] {
	width: 100%;
	height: 100%;
	text-align: center;
	padding: 0;
	margin: 0;
	position: relative;
}

#canvas {
	width: 100%;
	margin: 0 auto;
}

img.preloader {
	display: none;
}


#howto table {
	margin: 10px auto;
}
#howto table th {
	text-align: right;
	padding-right: 10px;
}
#howto table td {
	text-align: left;
}

#howto ul {
	list-style-type: none;
	text-align: left;
	line-height: 1.5;
	margin: 10px 0;
	padding: 0;
}
#howto ul img {
	vertical-align: middle;
	width: 20px;
	height: 20px;
}
#howto ul li {
	margin-bottom: 10px;
}

#howto h3 {
	font-size: 90%;
	margin: 10px auto 5px;
}
#howto h3 strong {
	color: #CC0000;
}

#howto .example {
	margin: 5px auto;
}
#howto .example img {
	width: 30px;
	height: 30px;
}

